/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* ===== VARIABLES CSS ===== */
:root {
  /* ===== Colores ===== */
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;

  /* ===== Fuente y tipografia ===== */
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

/* ===== BASE ===== */
*,
::before,
::after {
  box-sizing: border-box;
}

/*****************
1. global setup
2. nav bar
3. Banner
4. media query for 768 breakpoint (tablet and mobile)
*****************/

/* ~~~~~~~~~~~~~~ Global setup starts ~~~~~~ */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: auto;
}

head {
  height: 60px;
}

body {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
  background: radial-gradient(white, rgb(184	184	184));
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 100%;
  overflow-y: auto;
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* ~~~~~~~~~~ Global setup ends ~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~ Nav Bar starts ~~~~~~~~~~~~~~~~~~~~~~ */
nav {
  background:
    linear-gradient(
      93deg,
      rgb(37	105	75 / 100%) 16%,
      rgb(77	192	142 / 100%) 55%
    );
  height: 60px;
  max-width: 100%;
}

label.logo {
  float: left;
  color: cornsilk;
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 40px;
  margin-right: 20px;
}

nav ul {
  float: right;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 20px;
  color: white;
  font-size: 16px;
}

nav ul li a {
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

.container {
  margin-top: 100px;
  padding-bottom: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 10px;
  grid-auto-rows: minmax(320px, auto);
  justify-content: center;
  background-color: rgb(0 0 0 / 0%);
  max-height: 100%;
  position: relative;
}

.container-detail {
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 768px));
  grid-gap: 30px;
  grid-auto-rows: auto;
  justify-content: center;
  background-color: rgb(0 0 0 / 0%);
  max-height: 100%;
  position: relative;
}

.container-producteur {
  margin-top: 1%;
  background-color: rgb(0 0 0 / 0%);
  max-height: 100%;
  max-width: 1000px;
  justify-content: center;
  margin-bottom: 15%;
  position: relative;
}

.container-producteur h2 {
  text-align: center;
}

.span {
  background-color: white;
  padding: 0.5px;
  box-shadow: 3px 2px 3px 1px rgb(0 0 0 / 40%);
  text-align: center;
  position: relative;
  border-radius: 10px;
  max-height: 320px;
}

.span-producteur {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: cursive;
}

.span-detail {
  background-color: inherit;
  padding: 0.5px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  max-height: 500px;
  overflow-y: auto;
}

#descriptionProduit {
  grid-column-start: 2 span;
  text-align: justify;
  padding: 1%;
}

.span > p {
  margin-top: 5px;
  font-size: 14px;
}

.span > h3 {
  text-align: center;
  font-family: cursive;
  color: #363636;
}

.span-img {
  position: relative;
  top: 0;
  max-height: 50%;
}

#detail-img {
  height: 40vh;
}

.add {
  position: absolute;
  display: grid;
  width: 100%;
  bottom: 2%;
  justify-content: center;
}

.addProductPage {
  margin-top: 30%;
}

.span-detail .add {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.btn {
  color: white;
  padding-top: 3px;
  border-radius: 20px;
  background-color: #ffd347;
  cursor: pointer;
  height: 40px;
  width: 150px;
  font-size: 16px;
  border: none;
}

.span-detail .btn {
  color: white;
  font-size: 2em;
  padding-top: 6px;
  border-radius: 10px;
  background-color: #ffd347;
  cursor: pointer;
  height: 100px;
  width: 300px;
  text-align: center;
}

.btn:hover {
  color: white;
  background-color: #ffca09;
}

.btn__qte {
  color: black;
  cursor: pointer;
  height: auto;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.span-detail .btn__qte {
  color: black;
  cursor: pointer;
  height: auto;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__qte:hover {
  color: rgb(92 92 92);
}

.justify-center {
  display: grid;
  justify-content: center;
}

.inline-flex {
  display: inline-flex;
}

/* Catégorie */

#categorie td {
  padding-top: 10px;
  width: 50%;
  font-family: Georgia, serif;
  font-size: 1.1em;
}

#categorie input {
  margin-right: 10px;
}

#categorie {
  width: 100%;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

html .side-menu {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 300px;
  background-color: rgb(96	199	154 / 90%);
  border: 2px solid #b8b8b8;
  text-align: center;
  overflow-x: hidden;
  transition: width 1s;
  z-index: 3;
  border-radius: 10px;
}

html body .content {
  flex: 1 1 auto;
  width: 300px;
  height: 100%;
  position: absolute;
  top: 60px;
}

html body .content #list-toggle {
  display: none;
}

html body .content #list-toggle + label {
  position: absolute;
  top: 40%;
  left: 298px;
  background-color: rgb(154	154	154 / 90%);
  border: 2px solid #b8b8b8;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  padding: 10px 15px 10px 10px;
  font-size: 26px;
  transition: left 1s;
  z-index: 1;
}

html body .content #list-toggle + label::after {
  content: " < ";
}

html body .content #list-toggle + label:hover {
  background: rgb(184	184	184 / 90%);
}

html body .content #list-toggle:checked ~ .side-menu {
  width: 0;
}

html body .content #list-toggle:checked + label {
  left: 0;
}

html body .content #list-toggle:checked + label::after {
  content: " > ";
}

.side-menu h2 {
  font-family: cursive;
}

/* Catégorie fin */

/* ===== FORM ===== */
.l-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 360px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgb(92 99 105 / 20%);
}

.form__title {
  font-weight: 400;
  margin-bottom: 3rem;
}

.form__div {
  position: relative;
  height: 20px;
  width: 50px;
}

.span-detail .form__div {
  position: relative;
  height: 50px;
  width: 90px;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem 0;
  background: none;
  background-color: white;
  z-index: 1;
  text-align: center;
}

.span-detail .form__input {
  font-size: 26px;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.form__button {
  display: block;
  margin-left: auto;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.form__button:hover {
  box-shadow: 0 10px 36px rgb(0 0 0 / 15%);
}

/* Input focus move up label */
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 1;
}

/* Input focus sticky top label */
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 2;
}

/* Input focus */
.form__input:focus {
  border: 1.5px solid var(--first-color);
}

/* table list */

.list {
  display: grid;
  justify-content: center;
}

td a {
  color: #3a6890;
}

td a:hover {
  text-decoration: underline;
}

.titreListe {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  background-color: white;
  height: auto;
  padding: 1%;
  width: 100vw;
  box-shadow: 3px 2px 3px 1px rgb(0 0 0 / 20%);
}

.page {
  display: inline-flex;
  justify-content: flex-end;
}

.page i {
  color: black;
}

.page i:hover {
  color: grey;
}

.list table {
  width: 80vw;
  margin-top: 6%;
  border-collapse: collapse;
}

.list table tr:nth-child(2n) {
  background: lightgrey;
}

.list td img {
  height: 50px;
}

.list td {
  border: none;
}

.rowProduct {
  border-radius: 10px;
  border: solid black 1px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-auto-rows: auto;
  background-color: rgb(100 100 100 / 10%);
  padding: 10px;
  margin-top: 10px;
}

.rowProduct .cell {
  display: grid;
  align-items: center;
}

.rowProduct img {
  height: 150px;
}

/* ~~~~~~~~~~~~~~~~~~~~ Media Query starts ~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 634px) {
  a:hover {
    background:
      linear-gradient(
        93deg,
        rgb(94 129 207 / 100%) 16%,
        rgb(94 161 187 / 100%) 55%
      );
  }

  nav {
    height: 120px;
    min-width: 464px;
  }

  h1 {
    margin-top: 10%;
  }
}

@media (max-width: 1136px) {
  #descriptionProduit {
    grid-column-start: 1 span;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ Media query ends ~~~~~~~~~~~~~~~~~~~~~ */

.border {
  border: solid black 1px;
}

.box-shadow {
  box-shadow: 3px 2px 3px 1px rgb(0 0 0 / 40%);
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: lightgrey;
}

#form_prod {
  height: 0;
  overflow: hidden;
  transition: height 0.8s ease;
}

#form_gerant {
  height: 0;
  overflow: hidden;
  transition: height 0.8s ease;
}

#button_prod,
#button_gerant,
#button_login {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  width: 300px;
}

.button_login {
  border-radius: 20px;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btnValidate {
  border-radius: 20px;
  border: 1px solid green;
  background-color: #2ca95f;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btnValidate:hover {
  background-color: #19da68;
}

.login {
  text-align: center;
  margin-top: 10px;
}

.formlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: space-evenly;
  font-size: 20px;
}

form input {
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
}

.base_link {
  text-decoration: none;
  color: black;
} 

.cart-img {
 max-height: 100px; 
}
