<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/coop.css">
    <title></title>
  </head>
  <body>
    <div class="container">

      <h3>Liste commandes</h3>
      <ul id="incomplete-tasks">
      {% for ord in order %}
       <li name="{{ord.getId()}}">{{ord.getClientName()}} <label>Livré</label> :<input class="checkbox"type="checkbox"></input><button class="btn">Description</button>
       </li>
      {% endfor %}
      </ul>

      <h3>Historique</h3>
      <ul id="completed-tasks">
      </ul>
    </div>

    <script src="../js/coop.js" type="text/javascript"></script>

  </body>
</html>