<header>
  <nav>
    <ul>
      <li><a href="/">Produits</a></li>
      <li><a href="/producers">Producteurs</a></li>
      <li><a href="/panier">Panier</a></li>
    </ul>
    <a href="/" class="logo">LeHangar</a>
  </nav>
</header>