<header>
  <nav>
    <ul>
      <li><a href="/">Produits</a></li>
      <li><a href="/producers">Producteurs</a></li>
      <li><a href="/panier">Panier</a></li>
      {% if typeUser == "prod" %}
      <li><a href="/producer">Mes produits</a></li>
      <li><a href="/signOut">Déconnection</a></li>
      {% elseif typeUser == "manager" %}
        <li><a href="/coop">Commandes</a></li>
      {% else %}
        <li><a href="/signIn">Connexion</a></li>
      {% endif %}
    </ul>
    <a href="/" class="logo">LeHangar</a>
  </nav>
</header>
