<header>
  <nav>
    <ul>
      <li><a href="/">Produits</a></li>
      <li><a href="#">Producteurs</a></li>
      <li><a href="/panier">Panier</a></li>
    </ul>
    <label class="logo">LeHangar</label>
  </nav>
</header>