<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/signin.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  <script src="../js/main.js" defer></script>
  <script src="../js/signin.js" defer></script>
  <title>LeHangar - Login</title>
</head>

<body>
  <header>
    <nav>
      <label class="logo">LeHangar</label>
    </nav>
  </header>
  <h1>Connexion</h1>
  <div class="login">
    <h3> Vous êtes...</h3>
    <button type="button" id="button_prod"> Producteur </button>
    <button type="button" id="button_gerant"> Gérant de coopérative </button>
  </div>

  <form id="form_prod" name="form_prod" action="/signIn?type=prod" method="post">
    <div class="formlogin">
      <label for="prod_username"><b>Identifiant</b></label>
      <input id="prod_username" type="text" autocomplete="username" placeholder="Entrer l'identifiant" name="username" required>

      <label for="prod_password"><b>Mot de passe</b></label>
      <input id="prod_password" type="password" placeholder="Entrer mot de passe" name="password" required>

      <button class="button_login" type="submit">Login</button>
    </div>
  </form>

  <form id="form_gerant" action="/signIn?type=manager" method="post">

    <div class="formlogin">
      <label for="gerant_username"><b>Identifiant</b></label>
      <input id="gerant_username" type="text" autocomplete="username" placeholder="entrer l'identifiant" name="username"
        required>

      <label for="gerant_password"><b>Mot de passe</b></label>
      <input id="gerant_password" type="password" placeholder="Entrer mot de passe" name="password" required>

      <button class="button_login" type="submit">Login</button>
    </div>
  </form>
  <p class="messageError">{{messageError}}</p>
</body>

</html>
